# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv

# VCS y editor
.git
.gitignore
.idea
.vscode

# Archivos/dirs no requeridos
database/
bi/
logs/
*.log
docs/_archive/
scripts/

# Entornos
.env*
env*

# Archivos grandes temporales
*.sqlite3
*.csv
*.xlsx
*.xls

